<div class="container-fluid">
  <div class="row">
    <nav class="navbar">
      <a class="navbar-brand">
        <img src="assets/images/logo2.png" class="card-img-top" alt="..." />
      </a>
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </nav>
  </div>
</div>
<div
  class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover"
  style="background-image: url(assets/images/8p.jpg)"
>
  <div class="container">
    <div class="rat">
      <div class="col-lg-8 offset-lg-2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          mollitia, molestiae quas vel sint commodi repudiandae consequuntur
          voluptatum laborum numquam blanditiis harum quisquam eius sed odit
          fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
          accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut
          molestias architecto voluptate aliquam nihil, eveniet aliquid culpa
          officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum
          nesciunt ipsum debitis quas aliquid.
        </p>
      </div>
    </div>
  </div>
</div>
