<div class="container-fluid">
  <div class="row">
    <nav class="navbar">
      <a class="navbar-brand">
        <img src="assets/images/logo2.png" class="card-img-top" alt="..." />
      </a>
      <form class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </nav>
  </div>
</div>

<div class="bannerwrapper">
  <img src="assets/images/banner1.png" class="card-img-top" alt="..." />
</div>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="site-heading text-center">
        <h2>Trending MOVFLX</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/6p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <span>
              <a href="page"><i class="fa fa-play-circle"></i></a
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/8p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/9p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/9p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/6p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/8p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/9p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/images/9p.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <div class="cardfooter">
            <h5>Game of Thrones</h5>
            <i class="fa fa-play-circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------pagination------------->

<nav data-pagination>
  <a href="#" disabled><i class="ion-chevron-left"></i></a>
  <ul>
    <li class="current"><a href="home"> 1</a></li>
    <li><a href="page">2</a></li>
    <li><a href="page">3</a></li>
    <li><a href="page">4</a></li>
    <li><a href="page">5</a></li>
    <li><a href="page">6 </a></li>
  </ul>

  <a href="page"><i class="ion-chevron-right"></i></a>
</nav>
<!-------Pagination End---------->
<!------ ---footer------------------->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p>
          &copy; Copyright 2022. All Rights Reserved by
          <a href="#">||Sketch brahma Technologies||</a>
        </p>
      </div>

      <div class="col-lg-6 text-right link">
        <ul>
          <li>
            <a href="">Terms</a>
          </li>

          <li>
            <a href="#">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!---------Footer End----------->
